---
layout: default
title: Randomshouting | Amir Hadžić | a blog about programming and electronics
---
<div id="frontpage-author">
    <p>Welcome!—I'm Amir Hadžić, a software consultant. I try to improve my writing skills by publishing articles on this blog.
    Checkout my <a href="http://ba.linkedin.com/pub/amir-had%C5%BEi%C4%87/13/a7a/3a3">linkedin</a> and <a href="http://www.github.com/amir-hadzic">github</a> profile for more information.</p> 
</div>

{% for post in site.posts limit:10%}
    <div class="post post-frontpage">
        <a class="nostylelink" href="{{ post.url }}"><h1 class="post-title">{{ post.title }} {% if post.bookreview %}(<i class="icon-book"></i>){% endif %} </h1></a>
        <h2 class="post-date">— {{ post.date | date: "%m.%d.%Y" }}</h2>
        <span class="post-excerpt">
            {{ post.content | replace:'more start -->','' | replace:'<!-- more end','' }}
        </span>

        <center>
            <a style="border-bottom: 1px dotted #222; padding: 5px;"class="more" href="{{ post.url }}">Read more and post comments</a>
        </center>
    </div>
{% endfor %}
<p>More posts can be found in the <a href="/archive.html">archive</a>.</p>


