---
layout: default
title: Randomshouting | Amir Hadžić | a blog about programming and electronics
---
<div id="frontpage-posts">
{% for post in site.posts limit:5%}
    <div class="post">
        <a class="nostylelink" href="{{ post.url }}"><h1 class="post-title">{{ post.title }}</h1></a>
        <h2 class="post-date">— {{ post.date | date: "%m.%d.%Y" }}</h2>
        
        {{ post.content | replace:'more start -->','' | replace:'<!-- more end','' }}
        
        <center>
            <a style="border-bottom: 1px dotted #222; padding: 5px;"class="more" href="{{ post.url }}">Read more and post comments</a>
        </center>
    </div>
{% endfor %}
<p>More posts can be found in the <a href="/archive.html">archive</a>.</p>
</div>

<div id="frontpage-sidebar">
    <center><img src="http://gravatar.com/avatar/faaf4f1050b10edff7699d5e1494e6f5?size=120" /></center>
    
    <p>Amir Hadžić is a full time software developer by day and freelancer by night.
    Occasionaly he tries to improve his writting skills by posting on this blog.</p>

    <p>Have a look at my <a href="http://ba.linkedin.com/pub/amir-had%C5%BEi%C4%87/13/a7a/3a3">linkedin</a> and <a href="http://www.github.com/amir-hadzic">github</a> profile.</p> 

    <h3>Recent posts</h3>
    <ul>
        {% for post in site.posts limit:15 %}
        <li><a class="nostylelink" href="#">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>


