<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link href="/static/syntax.css" rel="stylesheet" type="text/css">
<link href="/static/font-awesome.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

{% for script in page.extra-js %}
  <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19791192-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<title>{{ page.title }}</title>
</head>
<body>

<a name="top"></a>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <div style="float: left">
                <a href="/"><img src="/static/Logo.png" /></a>
            </div>
            <div style="float: right">
                <a href="/"><h1>RANDOMSHOUTING</h1></a>
                <h2>— a blog about programming and electronics</h2>
            </div>
        </div>
        
        <ul id="navigation-bar">
            <li><a href="/">BLOG</a></li>
            <li><a href="/projects.html">PROJECTS</a></li>
            <li><a href="/hireme.html">HIRE ME</a></li>
            <li><a href="/archive.html">ARCHIVE</a></li>
        </ul>
    </div>
    
    <div id="gap"></div>       
    
    <div id="content">
        {{ content }}
    </div>
    
    <div id="up-button">
        <a href="#top"><img src="/static/up.png" /></a>
    </div>
    
    <div id="down-button">
        <a href="#bottom"><img src="/static/down.png" /></a>
    </div>
    
    <div id="rss-button">
        <a href="http://feeds.feedburner.com/randomshouting"><img src="/static/rss.png" /></a>
    </div>
</div>
<a name="bottom"></a>
</body>
</html>
